<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="UseEmulator" value="1"/>
    <add key="OrganizationConnectStringFormat" value="Data Source=linha05-win8\study;Initial Catalog={0};Persist Security Info=True;User ID=sa;Password=cnbjrdqa1!"/>
    <add key ="DataSource" value="linha05-win8\study"/>
    <add key ="PersistSecurityInfo" value="True"/>
    <add key ="UserId" value="sa"/>
    <add key ="Password" value="cnbjrdqa1!"/>
    <add key="ProviderName" value="System.Data.SqlClient"/>
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=linha05-win8\study;Initial Catalog=EWSDataProtectUnitTest;Persist Security Info=True;User ID=sa;Password=cnbjrdqa1!"
          providerName="System.Data.SqlClient" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
