body {
}

.restore .restore-calendar{
    margin-left: -20px;
}

.restore .restore-days{
    margin-left: -20px;
}

.restore .restore-navs{

}

.restore .restore-navs .list-pagation
{
    height: 70px;
}

.restore .restore-details{
    
}

.restore-dialog .modal-dialog {
        width: 800px;
    }

.restore .restore-details .panel-details{
    margin-left : -20px;
}

.restorenav {
    height: 460px;
    overflow-y: auto;
}

    .restorenav .restore-nav-list {
        height: 420px;
    }

        .restorenav .restore-nav-list .restore-nav-content {
            min-height: 345px;
        }

    .restorenav .checkall-div {
        padding-left: 15px;
        padding-bottom: 5px;
        margin-bottom:1px;
        padding-top: 5px;
        border-bottom: 1px solid #dddddd;
        height: 35px;
    }

        .restorenav .checkall-div a {
            text-decoration: none;
            cursor: default;
        }

    .restorenav .nav-checkbox-span {
        padding-left: 5px;

        display:-moz-inline-box; display:inline-block;
        width: 60%;
    }

    .restorenav .open-children{
        min-width: 14px;
    }

    .restorenav .nav-children {
        margin-left: 10px;
    }

.restore-nav-placehold {
    margin-right: 14px;
}


.maildetail {
    min-height: 450px;
}

    .maildetail .restore-table {
        height: 380px;
        overflow-y: auto;
    }

    .maildetail .restore-maildetail-pagination{
        height:70px;
        border-top : 1px solid #dddddd;
    }

.usermailboxdetail {
    min-height: 450px;
}

    .usermailboxdetail .jumbotron {
        height: 450px;
        margin-bottom: 0px;
    }

.table .restore-table-column-checkbox {
    width: 20px;
}

.table .restore-table-column-subject {
    min-width: 150px;
    width: 50%;
}

.table .restore-table-column-createtime {
    min-width: 80px;
    width: 30%;
}

.table .restore-table-column-size {
    width: 30px;
}

.table .restore-check{
    
}

.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 10s linear infinite;
     -moz-animation: progress-bar-stripes 10s linear infinite;
      -ms-animation: progress-bar-stripes 10s linear infinite;
       -o-animation: progress-bar-stripes 10s linear infinite;
          animation: progress-bar-stripes 10s linear infinite;
}

/*.navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #ffffff;
}

.navbar-inverse .brand {
  color: #999999;
}

.navbar-inverse .navbar-text {
  color: #999999;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #ffffff;
  background-color: transparent;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #111111;
}

.navbar-inverse .navbar-link {
  color: #999999;
}

.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus {
  color: #ffffff;
}*/

.restore-data{
    background-color: aqua;
}