<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>

    <add key="DefaultConnection" value="Data Source=tcp:ewsdb.database.windows.net,1433;Initial Catalog=EWSDataProtect;User Id=ewsdbadmin@ewsdb;Password=cnbjrdqa1!;"/>
    <add key="Organization" value="Data Source=tcp:ewsdb.database.windows.net,1433;Initial Catalog=Arcserve;User Id=ewsdbadmin@ewsdb;Password=cnbjrdqa1!;"/>
    
    <!--<add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://arcserveo365.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SaJhkopBVlW8qSb76cdpaEvlnXBP8S7jAjWvxjcKG3w=" />
    <add key="ForDebugAzure" value="0"/>
    --><!--Subscription Name for Azure--><!--
    <add key="SubscriptionNameForScheduler" value="Visual Studio Enterprise"/>
    --><!--Service Bus Config--><!--
    <add key="ServiceBusNameSpace" value="arcserveo365"/>
    --><!--Queue--><!--
    --><!--minute in value--><!--
    <add key="ServiceBusQueueTTL" value="5"/>
    --><!--MB in value--><!--
    <add key="ServiceBusQueueMaxSize" value="5120"/>
    <add key="ServiceBusQueueName" value="arcserveo365queue"/>
    --><!--Topic--><!--
    --><!--minute in value--><!--
    <add key="ServiceBusTopicTTL" value="5"/>
    --><!--MB in value--><!--
    <add key="ServiceBusTopicMaxSize" value="5120"/>
    <add key="ServiceBusTopicName" value="arcserveo365topic"/>

    --><!--Storage Connection String--><!--
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;" />
    <add key="StorageConnectionStringRunning" value="DefaultEndpointsProtocol=https;AccountName=arcserveews;AccountKey=nf1bT5kG1ZffSVCXZiaR0DKha3pgOTECKWZfREEH1mX5at3hWybqTSqgYFKOGX7FDN/yJz8H1hrsuAO1IICiUQ==" />
    --><!--Db Connection String--><!--
    <add key="DefaultConnection" value="Data Source=linha05-win8\study;Initial Catalog=EWSDataProtect;Persist Security Info=True;User ID=sa;Password=cnbjrdqa1!;" />
    <add key="Organization" value="Data Source=linha05-win8\study;Initial Catalog=Arcserve;Persist Security Info=True;User ID=sa;Password=cnbjrdqa1!;"  />

    --><!--following is only in local--><!--
    <add key="LogPath" value="D:\21GitHub\Haiyang\EWS\Office365Demo\DemoLog\Log"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
