<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ForDebugAzure" value="0"/>
    <add key="FileMaxRecordCount" value="3000"/>
    <add key="WriteEWSTrace" value="0"/>
    <add key="MaxConcurrentItemNumber" value="6"/>
    <add key="SupportMaxSizeItem" value="30"/>
    <add key="ExportItemTimeOut" value="120"/>
    <add key="LogPath" value="Log"/>
    <add key="MaxConcurrentMailboxNumber" value="1" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=linha05-win8\study;Initial Catalog=EWSDataProtectUnitTest;Persist Security Info=True;User ID=sa;Password=cnbjrdqa1!" providerName="System.Data.SqlClient"/>-->
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=D:\21GitHub\Haiyang\EWS\Office365Demo\ExGrtAzure\EwGrtAzure.TestForm\TestCatalog.mdf;Initial Catalog=TestCatalog;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;"/>
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
