<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <appSettings>
    <!--Storage Connection String-->
    <!--<add key="StorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;" />-->
    <add key="StorageConnectionStringRunning" value="DefaultEndpointsProtocol=https;AccountName=arcserveews;AccountKey=nf1bT5kG1ZffSVCXZiaR0DKha3pgOTECKWZfREEH1mX5at3hWybqTSqgYFKOGX7FDN/yJz8H1hrsuAO1IICiUQ==" />
    <!--Db Connection String-->
    <add key="DefaultConnection" value="Data Source=tcp:ewsdb.database.windows.net,1433;Initial Catalog=EWSDataProtect;User Id=ewsdbadmin@ewsdb;Password=cnbjrdqa1!;" />
    <add key="Organization" value="Data Source=tcp:ewsdb.database.windows.net,1433;Initial Catalog=Arcserve;User Id=ewsdbadmin@ewsdb;Password=cnbjrdqa1!;" />

    <add key="Microsoft.WindowsAzure.Plugins.Diagnostics.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=arcserveews;AccountKey=nf1bT5kG1ZffSVCXZiaR0DKha3pgOTECKWZfREEH1mX5at3hWybqTSqgYFKOGX7FDN/yJz8H1hrsuAO1IICiUQ==" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://arcserveo365.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SaJhkopBVlW8qSb76cdpaEvlnXBP8S7jAjWvxjcKG3w=" />
    <add key="ForDebugAzure" value="0" />
    <!--Subscription Name for Azure-->
    <add key="SubscriptionNameForScheduler" value="Visual Studio Enterprise" />
    <!--Service Bus Config-->
    <add key="ServiceBusNameSpace" value="arcserveo365" />
    <!--Queue-->
    <!--minute in value-->
    <add key="ServiceBusQueueTTL" value="5" />
    <!--MB in value-->
    <add key="ServiceBusQueueMaxSize" value="5120" />
    <add key="ServiceBusQueueName" value="arcserveo365queue" />
    <!--Topic-->
    <!--minute in value-->
    <add key="ServiceBusTopicTTL" value="5" />
    <!--MB in value-->
    <add key="ServiceBusTopicMaxSize" value="5120" />
    <add key="ServiceBusTopicName" value="arcserveo365topic" />

    <!--following is only in local-->
    <add key="LogPath" value="D:\21GitHub\Haiyang\EWS\Office365Demo\DemoLog\Log" />

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
