<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="ArcserveTrace" switchName="SourceSwitch"
        switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <add name="ArcserveTraceListener"  />
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- You can set the level at which tracing is to occur -->
      <add name="SourceSwitch" value="Verbose" />
      <!-- You can turn tracing off -->
      <!--add name="SourceSwitch" value="Off" -->
    </switches>
    <sharedListeners>
      <add name="console"
        type="System.Diagnostics.ConsoleTraceListener"
        initializeData="false"/>
      <add name="ArcserveTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="FTStream.log" traceOutputOptions="DateTime, Callstack, Timestamp, LogicalOperationStack"></add>
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="ArcserveTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>